header {
  margin: 20px 50px 30px;
}

.blackBorderComp {
  width: 250px;
  border: 1px solid black;
  border-radius: 10px;
}

.redBorderComp {
  width: 300px;
  border: 2px solid red;
  border-radius: 10px;
  padding-bottom: 5px;
  margin: 10px;
}

.redBorderComp.selected {
  background-color: orange;
}

.greenBorderComp {
  width: 300px;
  border: 2px solid green;
  border-radius: 10px;
  padding-bottom: 5px;
  margin: 10px;
}

.greenBorderComp.selected {
  background-color: orange;
}

.todo-item {
  border: 1px solid purple;
  padding: 10px;
  margin: 10px;
}

.todo-item .todo-item-info {
  display: flex;
}

.more-info-box {
  position: absolute;
  left: 410px;
  height: 100%;
  top: 110px;
}

.more-info-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0;
  width: 430px;
}

.todosComp {
  width: 450px;
  border: 2px solid black;
  margin: 20px;
}

.postsComp {
  width: 450px;
  border: 2px solid black;
  margin: 20px;
}

.inputText {
  width: 150px;
}

.yellowButton {
  height: 25px;
  background-color: yellow;
}

.grayButton {
  height: 25px;
  background-color: lightgrey;
}
