.blackBorderComp
{
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
}

.redBorderComp
{
    width: 300px;
    border: 2px solid red;
    border-radius: 10px;
    padding-bottom: 5px;
    margin: 10px;
}

.redBorderComp.selected
{
    background-color: orange;

}

.greenBorderComp
{
    width: 300px;
    border: 2px solid green;
    border-radius: 10px;
    padding-bottom: 5px;
    margin: 10px;
}

.greenBorderComp.selected
{
    background-color: orange;
}

.purpleBorderComp
{
    margin: 10px;
    width: 350px;
    border: 2px solid purple;
}

.todosComp
{
    width: 450px;
    border: 2px solid black;
    margin: 20px;
}

.postsComp
{
    width: 450px;
    border: 2px solid black;
    margin: 20px;
}
.inputText
{
    width: 100px;  
}

.yellowButton
{
    height: 25px;
    background-color: yellow;
}

.grayButton
{
    height: 25px;
    background-color: lightgrey;
}

.more-info-box {
    background: beige;
    position: absolute;
    left: 410px;
    height: 100%;
    top: 110px;
}

header {
    margin: 20px 50px 30px;
}

.more-info-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0;
    width: 353px;
}

.todo-item {
    border: 1px solid purple;
    padding: 10px;
    margin: 10px;
}

.todo-item > div:not(:last-child) {
    margin-bottom: 5px;
}

.todo-item .todo-item-info {
    display: flex;
}