.blackBorderComp
{
    width: 250px;
    height: 75px;
    border: 1px solid black;
    border-radius: 10px;
}


.redBorderComp
{
    width: 300px;
    border: 2px solid red;
    border-radius: 10px;
}

.greenBorderComp
{
    width: 300px;
    border: 2px solid green;
    border-radius: 10px;
}

.inputText
{
    width: 100px;  
}


.yellowButton
{
    background-color: yellow;
}

.grayButton
{
    background-color: lightgrey;
}